@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

[class^='ais-'] {
  font-size: 1rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* 
 * Layout
 */

.container {
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100vh;
    background: #fff;
    padding: 2.3rem 1rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    border-right: 1px solid #e3e5ec;
}

.wrapper {
    width: 60%;
    margin-left: 30%;
    margin-right: 10%;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
}

/* 
 * Typography
 */
h1, h2, h3 {
    color: #222;
}

/* 
 * Select
 */
#projects {
    width: 100%;
    border: 2px solid #f03774;
    padding: 3px 5px;
    height: 35px;
    font-size: 1.1rem;
    border-radius: 5px;
    outline: none;
    color: #495588;
    font-weight: 500;
} 

/* 
 * Searchbox
 */ 
#searchbox {
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
}

.ais-SearchBox {
    width: 100%;
    display: flex;
}
  
.ais-SearchBox-form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
  
.ais-SearchBox-input {
    width: 100%;
    border: 3px solid #f03774;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #8886a3;
}
  
.ais-SearchBox-input:focus{
    color:#8886a3;
}

.ais-SearchBox-form .ais-SearchBox-submit {
    width: 40px;
    height: 36px;
    border: 1px solid #f03774;
    background: #f03774;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    right: 0;
    position: relative;
    box-sizing: border-box;
    top: 50%;
    left: 0;
    padding: 0;
    user-select: none;
    transform: translateY(-50%);
    cursor: pointer;
}
    
.ais-SearchBox-submitIcon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.ais-SearchBox-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    overflow: visible;
    font: inherit;
    line-height: normal;
    color: inherit;
    background: none;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 5px;
}

.ais-SearchBox-resetIcon {
    position: absolute;
    left: -27px;
    width: 12px;
    height: 12px;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
    fill: #495588;
}  
  
.ais-SearchBox-submit svg path {
    fill: white;
}

/* 
 * Summary
 */ 
#summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    color: #808394;
}

/* 
 * Hits
 */ 
.ais-Hits .ais-Hits-list .ais-Hits-item {
    margin-bottom: 1rem;
}

.ais-Hits .ais-Hits-list .ais-Hits-item .hit-domain {
    font-size: 0.8rem;
}

.ais-Hits .ais-Hits-list .ais-Hits-item .hit-title {
    margin: 0;
}

.ais-Hits .ais-Hits-list .ais-Hits-item .hit-title a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f03774;
    text-decoration: none;
}

.ais-Hits .ais-Hits-list .ais-Hits-item .hit-text {
    margin: 0;
    font-size: 1rem;
}

#hits {
    width: 100%;
    position: relative;
    display: flex;
    margin: 1.5rem auto 0;
}

.ais-Hits {
    width: 100%;
    display: flex;
    position: relative;
    margin: 0 auto;
}

.ais-Hits--empty {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #e3e5ec;
    border-radius: 0.3rem;
    position: absolute;
    padding: 1rem;
    margin: 0;
    margin-top: 5px;
    color:#8886a3;
}

.ais-Hits .ais-Hits-list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.ais-Hits-list, .ais-Hits--empty {
    border-radius: 3px;
}

.ais-Hits .ais-Hits-list .ais-Hits-item {
    margin: 0;
    box-sizing: border-box;
    display: block;
    padding: 1rem;
    box-shadow: 0 2px 5px 0 #e3e5ec;
    width: 100%;
    background-color: #fff;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    margin-bottom: 3px;
}

.ais-Hits-list .ais-Hits-item:last-child {
    margin-bottom: 0px;
}

.ais-Highlight-highlighted {
    background-color: #fabdd1;
    color: #666879;
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}
    
.ais-Hits .ais-Hits-list .ais-Hits-item {
    margin-bottom: 1rem;
}

.ais-Hits .ais-Hits-list .ais-Hits-item .hit-domain {
    font-size: 0.8rem;
}

.ais-Hits .ais-Hits-list .ais-Hits-item .hit-title {
    margin: 0;
}

.ais-Hits .ais-Hits-list .ais-Hits-item .hit-title a {
    font-size: 1.2rem;
    font-weight: 600;
    color: #f03774;
    text-decoration: none;
}

.ais-Hits .ais-Hits-list .ais-Hits-item .hit-text {
    margin: 0;
    font-size: 1rem;
}


/* 
 * Pagination
 */

.ais-Pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;    
}

.ais-Pagination--noRefinement .ais-Pagination-link {
    color: #8886a3;
    cursor: not-allowed;
}

.ais-Pagination-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ais-Pagination-item {
    margin: 0 0.5rem;
}

.ais-Pagination-link {
    color: #f03774;
    text-decoration: none;    
}

/* 
 * Refinement List
 */

.ais-RefinementList-labelText {
    font-size: 0.9rem;
    color: #8886a3;
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
}

.ais-RefinementList-count {
    color: #8886a3;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.ais-RefinementList-showMore {
    margin-top: 0.75rem;
    font-size: 0.8rem;
    color: #fff
}


/* 
 * Range slider
 */

#range-slider-dates {
    padding: 0 2rem;
}

.rheostat-value {
    display: none
}

.ais-RangeSlider .rheostat-progress {
    /* background-color: #f03774 !important; */
}

.rheostat-handle-upper .rheostat-tooltip {
    top: 22px;    
}

.rheostat-tooltip {
    width: 5rem;
    font-size: 0.75rem;
    color: #808394;
}

/* 
 * ClearRefinements Button
 */
.ais-ClearRefinements .ais-ClearRefinements-button {
    font-size: 0.8rem;
}